<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/.atomist/cli.log </file>
		<append>true</append>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${user.home}/.atomist/cli.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{20} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.atomist" level="debug" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<logger name="com.atomist.rug" level="debug" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<logger name="com.atomist.project" level="debug" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<root level="debug">
		<appender-ref ref="FILE" />
	</root>
</configuration>
